<%= form_with(model: car_wash, local: true) do |form| %>
  <% if car_wash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car_wash.errors.count, "error") %> prohibited this car_wash from being saved:</h2>

      <ul>
      <% car_wash.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :rates %>
    <%= form.text_area :rates %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :published_at %>
    <%= form.datetime_select :published_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
