<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @car_modification.title %>
</p>

<p>
  <strong>Rates:</strong>
  <%= @car_modification.rates %>
</p>

<p>
  <strong>Body:</strong>
  <%= @car_modification.body %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @car_modification.published_at %>
</p>

<!--<%#= link_to 'Edit', edit_car_modification_path(@car_modification) %> |-->
<%#= link_to 'Back', car_modifications_path %>
